@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* styles/globals.css */

/* Light mode selection */
::selection {
  background-color: rgba(13, 39, 1, 0.8); /* Yellow for light mode */
  color: #fff; /* Dark gray text */
}

/* Dark mode selection */
.dark ::selection {
  background-color: #fff; /* Pink for dark mode */
  color: #000; /* White text */
}

.borderStyle {
  @apply border-zinc-300 dark:border-zinc-700;
}
.darkMode {
  @apply bg-white dark:bg-[#1c1c1c] dark:text-white text-black;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300; /* Normal weight */
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500; /* Normal weight */
  font-style: normal;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Helvetica Neue", sans-serif;
}
